html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif !important;
}

.component {
  height: 100%;
  width: 100%;
  display: flex;
}
/*-- Landing page -- */
.component.first-component {
  background-image: url("BI9B5145.jpg");
  background-size: cover;
  background-color: #1E1C1C;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.landing-page-content {
  margin-top: 40vh;
  color: white;
  padding: 10px;
}
.landing-page-content .underline {
  height: 1px;
  background-color: white;
  width: 80%;
  margin: 0 auto;
}
.company-name {
  font-size: 54px;
}
.landing-btn {
  background-color: #179FE8;
  padding: 10px 20px;
  border-radius: 50px;
  width: 200px;
  margin: 10px;
  cursor: pointer;
}
.landing-btn-wrap {
  justify-content: center;
}
/* -- -- */
/* -- About page -- */
.component.second-component {
  padding: 75px 10px;
  background-color: #e1e1e1;
}
.about-img {
  width: 100%;
}
.about-title {
  font-size: 54px;
  padding-bottom: 35px;
  color: #caba32;
}
.about-desc {
  text-align: left;
  font-size: 18px;
}
/* -- -- */
/* -- Jobs page -- */
.component.third-component {
  padding: 75px 10px;
  background-color: #242424;
}
.job-wrap {
  padding: 35px 10px; 
  max-width: 1150px !important;
  margin: 0 auto;
}
.job-title {
  color: #747474;
  text-align: left !important;
}
.job-desc {
  color: #c9c9c9;
  text-align: left !important;
}
.read-more-btn {
  background-color: #179FE8;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 45px;
  max-width: 175px;
}
/* -- -- */

/* -- Our consultants page -- */
.component.fourth-component {
  background-color: #eeeeee;
  padding: 75px 10px;
}
.consult-title {
  padding-bottom: 50px;
}
.card-block {
  background-color: #eeeeee;
  padding: 15px;
  text-align: left;
}
.card-deck {
  margin: 0 auto;
}
.join-us {
  padding-top: 50px;
}
.tt-btn {
  background-color: #caba32;
  padding: 20px 55px;
  border-radius: 45px;
  max-width: 350px;
  margin: 0 auto;
  cursor: pointer;
}
/* -- -- */
/* -- Contact page -- */
.component.fifth-component {
  background-color: #e1e1e1;
  padding: 75px 10px;
}
.contact-borders {
  border-left: 1px solid #caba32;
  border-right: 1px solid #caba32;
}
/* -- --*/
/* -- Footer --*/
.footer {
  background-color: #179FE8;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 45px 20px;
  color: white;
}
.footer .scroll-link{
  font-size: 25px;
}
/* -- -- */
.pagination-additional-class {
  margin: 0;
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination-additional-class > li > a, .pagination-additional-class > li > span {
  margin-right: 50px;
}
