html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif !important;
}

.component {
  height: 100%;
  width: 100%;
  display: flex;
}
/*-- Landing page -- */
.component.first-component {
  background-color: #1E1C1C;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.landing-page-content {
  margin-top: 40vh;
  color: white;
  padding: 10px;
}
.landing-page-content .underline {
  height: 1px;
  background-color: white;
  width: 80%;
  margin: 0 auto;
}
.company-name {
  font-size: 54px;
}
.landing-btn {
  background-color: #179FE8;
  padding: 10px 20px;
  border-radius: 50px;
  width: 200px;
  margin: 10px;
  cursor: pointer;
}
.landing-btn-wrap {
  justify-content: center;
}
/* -- -- */
/* -- About page -- */
.component.second-component {
  padding: 75px 10px;
  background-color: #e1e1e1;
}
.about-img {
  width: 100%;
}
.about-title {
  font-size: 54px;
  padding-bottom: 35px;
  color: #caba32;
}
.about-desc {
  text-align: left;
  font-size: 18px;
}
/* -- -- */

.pagination-additional-class {
  margin: 0;
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination-additional-class > li > a, .pagination-additional-class > li > span {
  margin-right: 50px;
}
