html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Quicksand', sans-serif !important;
  background-color: #1E1C1C;
}

.component {
  height: 100%;
  width: 100%;
  display: flex;
}

.sticky-nav {
  background-color: #242424;
  padding: 20px 5px;
  position: fixed;
  width: 100%;
  z-index: 10000;
  color: #caba32;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 8px 2px #000000;
}
.hamburger {
  position: absolute;
  top: 20px;
  background-color: #242424;
  right: 20px;
  width: 44px;
  height: 44px;
  display: none;
  cursor: pointer;
}
.hamburger img {
  width: 44px;
  height: 44px;
}
.closed {
  max-height: 74px;
}
.open { 
  max-height: auto;
  background-color: #242424 !important;
  box-shadow: 0px 0px 8px 2px #000000;
}
.linkTo {
  text-decoration: none;
  text-decoration-line: none;
  color: white;
  max-width: 175px;
  display: block;
}
.linkToSecond {
  text-decoration: none;
  text-decoration-line: none;
  color: white;
  max-width: 350px;
  display: block;
  margin: 0 auto;
}

.linkToSecond:hover{
  text-decoration: none;
  text-decoration-line: none;
  color: white;
}

.linkTo:hover {
  text-decoration: none;
  text-decoration-line: none;
  color: white;
}

@media screen and (max-width: 650px) {
  .sticky-nav {
    flex-direction: column;
    overflow: hidden;
    padding-top: 70px;
    background-color: transparent;
    box-shadow: none;
  }
  .scroll-link {
    margin-top: 10px;
  }
  .hamburger {
    display: block;
  }
}

.scroll-link {
  padding: 5px 20px;
  cursor: pointer;
}

/*-- Landing page -- */
.component.first-component {
  background-image: url("BI9B5145.jpg");
  background-size: cover;
  background-color: #1E1C1C;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.landing-page-content {
  margin-top: 40vh;
  color: white;
  padding: 10px;
}
.landing-page-content .underline {
  height: 1px;
  background-color: white;
  width: 80%;
  margin: 0 auto;
}
.company-name {
  font-size: 54px;
}
.landing-btn {
  background-color: #179FE8;
  padding: 10px 20px;
  border-radius: 50px;
  width: 200px;
  margin: 10px;
  cursor: pointer;
}
.landing-btn-wrap {
  justify-content: center;
}
.landing-btn:hover {
  background-color: #6CC0ED;
}

/* -- -- */
/* -- About page -- */
.component.second-component {
  padding: 75px 10px;
  background-color: #e1e1e1;
}
.about-img {
  width: 100%;
}
.component.second-component .about-title {
  text-align: left;
}
.about-title {
  font-size: 44px;
  padding-bottom: 35px;
  color: #caba32;
}
.about-desc {
  text-align: left;
  font-size: 18px;
}
/* -- -- */
/* -- Jobs page -- */
.component.third-component {
  padding: 75px 10px;
  background-color: #242424;
}
.job-wrap {
  padding: 35px 10px; 
  max-width: 1150px !important;
  margin: 0 auto;
}
.job-title {
  color: #747474;
  text-align: left !important;
}
.job-desc {
  color: #c9c9c9;
  text-align: left !important;
}
.read-more-btn {
  background-color: #179FE8;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 45px;
  max-width: 175px;
  color: white;
  transition: all .2s ease-in-out;
}
.read-more-btn:hover {
  background-color: #6CC0ED;
}
/* -- -- */

/* -- Our consultants page -- */
.component.fourth-component {
  background-color: #eeeeee;
  padding: 75px 10px;
}
.consult-title {
  padding-bottom: 50px;
}
.card-block {
  background-color: #eeeeee;
  padding: 15px;
  text-align: left;
}
.card-deck {
  margin: 0 auto;
}
.join-us {
  padding-top: 50px;
}
.tt-btn {
  background-color: #caba32;
  padding: 20px 55px;
  border-radius: 45px;
  max-width: 350px;
  margin: 0 auto;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.tt-btn:hover {
  background-color: #E2D458;
}
/* -- -- */
/* -- Contact page -- */
.component.fifth-component {
  background-color: #e1e1e1;
  padding: 75px 10px;
}
.contact-borders {
  border-left: 1px solid #caba32;
  border-right: 1px solid #caba32;
}
@media screen and (max-width: 767px) {
  .contact-borders {
    border-left: none;
    border-right: none;
  }  
  .contact-info {
    margin-top: 25px;
  }
  .component.fifth-component {
    padding: 45px 10px;
  }
}
/* -- --*/
/* -- Footer --*/
.footer {
  background-color: #242424;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 45px 20px;
  color: white;
}
.footer .scroll-link{
  font-size: 25px;
}
.social {
  width: 50px;
  height: 50px;
  margin: 10px;
}
/* -- -- */
.pagination-additional-class {
  margin: 0;
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination-additional-class > li > a, .pagination-additional-class > li > span {
  margin-right: 50px;
}
